<h1>
    
<%= gravatar_for @user %>

<%= @user.name %>

</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default panel-profile">
      <div class="panel-heading">
        <strong>Area</strong>
      </div>
      <div class="panel-body">
        <%= @user.area %>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default panel-profile">
      <div class="panel-heading">
        <strong>Profile</strong>
      </div>
      <div class="panel-body">
        <%= @user.profile %>
      </div>
    </div>
  </div>
</div>